<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.manualApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>this is coding839 creating tempalte</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict/>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.swift:comments</string>
						<string>ViewController.swift:imports:importCocoa</string>
						<string>ViewController.swift:implementation(___FILEBASENAME___: UIViewController)</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad(override func viewDidLoad(\))</string>
						<string>ViewController.swift:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning(override func didReceiveMemoryWarning(\))</string>
						<string>ViewController.swift:implementation:methods:didReceiveMemoryWarning:super</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Expand/Category/NSObject+Unicode.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSObject+Unicode.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Category/NSObject+Unicode.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSObject+Unicode.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Category/NSString+tool.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSString+tool.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Category/NSString+tool.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSString+tool.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Const/Const.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Const/Const.h</string>
			<key>Expand</key>
			<array>
				<string>Expand</string>
				<string>Const</string>
			</array>
		</dict>
		<key>Expand/DataBase/FMDBTool.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/DataBase/FMDBTool.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>DataBase</string>
			</array>
		</dict>
		<key>Expand/DataBase/FMDBTool.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/DataBase/FMDBTool.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>DataBase</string>
			</array>
		</dict>
		<key>Expand/Macros/Macros.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Macros/Macros.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Macros</string>
			</array>
		</dict>
		<key>Expand/Network/RequestManage.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Network/RequestManage.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Expand/Network/RequestManage.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Network/RequestManage.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Expand/Network/RequestTool.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Network/RequestTool.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Expand/Network/RequestTool.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Network/RequestTool.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Expand/Tool/NSStringUtil.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Tool/NSStringUtil.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Tool</string>
			</array>
		</dict>
		<key>Expand/Tool/NSStringUtil.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Tool/NSStringUtil.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Tool</string>
			</array>
		</dict>
		<key>Vender/vender.md</key>
		<dict>
			<key>Path</key>
			<string>Vender/vender.md</string>
			<key>Group</key>
			<string>Vender</string>
		</dict>
		<key>Resource/Image/readme.md</key>
		<dict>
			<key>Path</key>
			<string>Resource/Image/readme.md</string>
			<key>Group</key>
			<array>
				<string>Resource</string>
				<string>Image</string>
			</array>
		</dict>
		<key>Main/readme.md</key>
		<dict>
			<key>Path</key>
			<string>Main/readme.md</string>
			<key>Group</key>
			<string>Main</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Expand/Category/NSString+tool.h</string>
		<string>Expand/Category/NSString+tool.m</string>
		<string>Expand/Category/NSObject+Unicode.h</string>
		<string>Expand/Category/NSObject+Unicode.m</string>
		<string>Expand/Const/Const.h</string>
		<string>Expand/DataBase/FMDBTool.h</string>
		<string>Expand/DataBase/FMDBTool.m</string>
		<string>Expand/Macros/Macros.h</string>
		<string>Expand/Network/RequestManage.h</string>
		<string>Expand/Network/RequestManage.m</string>
		<string>Expand/Network/RequestTool.h</string>
		<string>Expand/Network/RequestTool.m</string>
		<string>Expand/Tool/NSStringUtil.h</string>
		<string>Expand/Tool/NSStringUtil.m</string>
		<string>Vender/vender.md</string>
		<string>Resource/Image/readme.md</string>
		<string>Main/readme.md</string>
	</array>
</dict>
</plist>
