<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.manualApplication</string>
	 <key>Ancestors</key>
    	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
      		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
   	 </array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>this is coding839 creating tempalte</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict/>
				<key>Swift</key>
				<dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Expand/Category/NSObject+Unicode.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSObject+Unicode.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Category/NSObject+Unicode.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSObject+Unicode.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Category/NSString+tool.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSString+tool.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Category/NSString+tool.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Category/NSString+tool.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Category</string>
			</array>
		</dict>
		<key>Expand/Const/Const.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Const/Const.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Const</string>
			</array>
		</dict>
		<key>Expand/DataBase/database.md</key>
		<dict>
			<key>Path</key>
			<string>Expand/DataBase/database.md</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>DataBase</string>
			</array>
		</dict>
		<key>Expand/Macros/Macros.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Macros/Macros.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Macros</string>
			</array>
		</dict>
		
		<key>Expand/Network/network.md</key>
		<dict>
			<key>Path</key>
			<string>Expand/Network/network.md</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Network</string>
			</array>
		</dict>
		<key>Expand/Tool/NSStringUtil.h</key>
		<dict>
			<key>Path</key>
			<string>Expand/Tool/NSStringUtil.h</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Tool</string>
			</array>
		</dict>
		<key>Expand/Tool/NSStringUtil.m</key>
		<dict>
			<key>Path</key>
			<string>Expand/Tool/NSStringUtil.m</string>
			<key>Group</key>
			<array>
				<string>Expand</string>
				<string>Tool</string>
			</array>
		</dict>
		<key>Vender/vender.md</key>
		<dict>
			<key>Path</key>
			<string>Vender/vender.md</string>
			<key>Group</key>
			<string>Vender</string>
		</dict>
		<key>Resource/Image/image.md</key>
		<dict>
			<key>Path</key>
			<string>Resource/Image/image.md</string>
			<key>Group</key>
			<array>
				<string>Resource</string>
				<string>Image</string>
			</array>
		</dict>
		<key>Main/main.md</key>
		<dict>
			<key>Path</key>
			<string>Main/main.md</string>
			<key>Group</key>
			<string>Main</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>SupportingFiles/Info.plist</key>
		<key>SupportingFiles/Prefix.pch</key>
		<dict>
			<key>Path</key>
			<string>SupportingFiles/Prefix.pch</string>
			<key>Group</key>
			<string>SupportingFiles</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Expand/Category/NSString+tool.h</string>
		<string>Expand/Category/NSString+tool.m</string>
		<string>Expand/Category/NSObject+Unicode.h</string>
		<string>Expand/Category/NSObject+Unicode.m</string>
		<string>Expand/Const/Const.h</string>
		<string>Expand/DataBase/database.md</string>
		<string>Expand/Macros/Macros.h</string>
		<string>Expand/Network/network.md</string>
		<string>Expand/Tool/NSStringUtil.h</string>
		<string>Expand/Tool/NSStringUtil.m</string>
		<string>Vender/vender.md</string>
		<string>Resource/Image/image.md</string>
		<string>SupportingFiles/Info.plist</string>
		<string>SupportingFiles/Prefix.pch</string>
	</array>
</dict>
</plist>
